# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*

# misc
.coverage
.mypy_cache
.ruff_cache
.venv
.vscode
coverage.xml

# Home Assistant configuration
config/*
!config/configuration.yaml
